################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NOTES-DOC/FileContentIndex/5fa685b5-1cb1-4e38-97af-9a8b83df4708.vsidx
/.vs/NOTES-DOC/FileContentIndex/8c8708c7-9bb8-4016-83b5-17fe54417247.vsidx
/.vs/NOTES-DOC/FileContentIndex/d0865ca2-2e6c-433f-b6f6-05f6f1b4af49.vsidx
/.vs/slnx.sqlite
/.gitignore
/.vs/NOTES-DOC/FileContentIndex/f455f3b1-3634-4844-ba8e-e903cfc30296.vsidx
/.gitignore
